@{
    ViewData["Title"] = "Student";
}

<h2>Курси</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Назва</th>
        <th>Опис</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
    }
</table>
