@model StudentInfoWebApp.DAL.Models.Course
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<h1>@SharedLocalizer["Edit"]</h1>
<h4>@SharedLocalizer["Course"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Description"]</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" formmethod="post" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="Groups" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["Back to list"]</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ScriptsPartial");
    }
}